{
	"printWidth": 100,
	"jsxSingleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "always",
	"plugins": ["prettier-plugin-tailwindcss"]
}
